@use 'variables';
@use 'mixins';

.modal-navbar{

    &__background{
        @include mixins.modal-background
    }
    
    background-color: variables.$White;
    height: 100%;
    width: 250px;
    padding: 28px 24px;

    &__items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-block-start: 35px;
    }
    &__link{
        text-decoration: none;
        color: variables.$VeryVarkBlue;
        font-weight: 700;
        font-size: 1.6rem;
    }
    &__close-icon:hover{
        cursor: pointer;
    }
}