// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Primary
$Orange: hsl(26, 100%, 55%);
$PaleOrange : hsl(25, 100%, 94%);
// Neutral
$VeryVarkBlue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black : hsl(0, 0%, 0%);
$Black-modal : hsl(0, 0%, 0%,0.5);

$font: "Kumbh Sans", sans-serif;
